@charset "UTF-8";

body{

     background-color: rgb(70, 142, 236);
     font: normal 15pt Arial;
}
header{
    
    color: white;
    text-align: center;

}
section{
    text-align: center;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.466);
}
footer{

    color: white;
    font-style: italic;
    text-align: center;

}

#data{
    margin-left: 5px;
    margin-bottom: 10px;
}
#botao{
    margin-top: 15px;
}
#img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    height: 200px;
    object-fit: cover; /* Não deixa a imagem ficar esticada*/
    border: 5px solid rgb(58, 113, 164); /* Opcional: dá um destaque legal */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); /* Opcional: dá profundidade */
}